htmlbook.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/1999/xhtml" elementFormDefault="qualified">

<xs:element name="html">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="head"/>
      <xs:element ref="body"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
<xs:element name="head">
  <xs:complexType>
    <xs:sequence>
      <!-- Note that in order to produce a valid content model, title must be first -->
        <xs:element ref="title"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="command"/>
          <xs:element ref="link"/>
          <xs:element ref="meta"/>
          <xs:element ref="noscript"/>
          <xs:element ref="script"/>
          <xs:element ref="style"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
<xs:element name="body">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="h1"/>
      <xs:element name="h2" minOccurs="0" type="subheading"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="section" type="bookmaindiv"/>
        <!-- Separate out parts, as they have specific child requirements -->
        <xs:element name="div" type="bookpart"/>
      </xs:choice>
    </xs:sequence>  
    <xs:attribute name="class" use="required" fixed="book"/>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>
</xs:element>

<!-- Metadata elements -->
<!-- ToDo: What restrictions to add? -->
  
<xs:element name="title"/>
  
<xs:element name="base"/>

<xs:element name="command"/>
    
<xs:element name="link"/>
    
<xs:element name="meta"/>
    
<xs:element name="noscript"/>

<xs:element name="script"/>
    
<xs:element name="style"/>
  
<!-- Block elements -->
<!-- ToDo: What restrictions to add? -->
  
<!-- For now, limit "address" to support only inline element children -->
<xs:element name="address" type="inline_children_only"/>

<xs:element name="aside" type="sidebar"/>

<!-- Note, per HTML5 spec, the actual requirements are a choice between:
    * a @src attribute on <audio> elem and no <source> children
    * no @src attribute on <audio> elem and 1 or more <source> children
    But AFAICS this logic is impossible to capture in Schema, so not going to enforce -->
<xs:element name="audio">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="track" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="mediaattributes"/>
    <!-- ToDo: Modularize class/id into separate attribute group -->
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="class" type="xs:token"/>
  </xs:complexType>
</xs:element>
  
<xs:element name="blockquote" type="block_or_inline_children"/>

<xs:element name="canvas" type="block_or_inline_children"/>
  
<xs:element name="details">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="summary" minOccurs="0" maxOccurs="1"/>
      <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
</xs:element>
  
<xs:element name="div"/>
<xs:element name="dl"/>
<xs:element name="embed"/>
<xs:element name="fieldset"/>
<xs:element name="figure"/>
<xs:element name="form"/>
<xs:element name="hr"/>
<xs:element name="iframe"/>
<xs:element name="img"/>
<xs:element name="map"/>
<xs:element name="menu"/>
<xs:element name="nav"/>
<xs:element name="object"/>
<xs:element name="ol"/>
<xs:element name="output"/>
<xs:element name="p"/>
<xs:element name="pre"/>
<xs:element name="table"/>
<xs:element name="ul"/>
<xs:element name="video"/>
  
<!-- Inline elements -->
<xs:element name="a"/>
<xs:element name="abbr"/>
<xs:element name="area"/>
<xs:element name="b"/>
<xs:element name="bdi"/>
<xs:element name="bdo"/>
<xs:element name="br"/>
<xs:element name="button"/>
<!-- Command as inline element? Also defined as part of meta block -->
<xs:element name="cite"/>
<xs:element name="datalist"/>
<xs:element name="del"/>
<xs:element name="dfn"/>
<xs:element name="em"/>
<xs:element name="i"/>
<xs:element name="input"/>
<xs:element name="ins"/>
<xs:element name="kbd"/>
<xs:element name="keygen"/>  
<xs:element name="label"/>  
<xs:element name="mark"/>  
<xs:element name="meter"/>
<xs:element name="progress"/>
<xs:element name="q"/>
<xs:element name="ruby"/>
<xs:element name="s"/>
<xs:element name="samp"/>
<xs:element name="select"/>
<xs:element name="small"/>
<xs:element name="span"/>
<xs:element name="strong"/>
<xs:element name="sub"/>
<xs:element name="sup"/>
<xs:element name="textarea"/>
<xs:element name="time"/>
<xs:element name="u"/>
<xs:element name="var"/>
<xs:element name="wbr"/>
  
<!-- Miscellaneous elements -->
<xs:element name="source"/>
<xs:element name="summary"/>
<xs:element name="track"/>
  
<!-- ToDo: Separate out elements that can be either inline or block into a distinct list -->

<!-- Heading elements -->
<!-- ToDo: Mixed content model that supports inlines -->
<!-- ToDo: Support hgroup to facilitate subheadings? -->
<!-- ToDo: Should we require class="title" on all section heading titles? -->
<xs:element name="h1" type="inline_children_only"/>

<xs:element name="h2" type="inline_children_only"/>

<xs:element name="h3" type="inline_children_only"/>
  
<xs:element name="h4" type="inline_children_only"/>
  
<xs:element name="h5" type="inline_children_only"/>
  
<xs:element name="h6" type="inline_children_only"/>
  
<!-- Global simple type definitions; see corresponding complex types -->

<!-- For class attribute on book division <sections>, except part -->
<xs:simpleType name="bookmaindivtype">
  <xs:restriction base="xs:string">
    <xs:enumeration value="acknowledgments"/>
    <xs:enumeration value="afterword"/>
    <xs:enumeration value="appendix"/>
    <xs:enumeration value="bibliography"/>
    <xs:enumeration value="chapter"/>
    <xs:enumeration value="colophon"/>
    <xs:enumeration value="conclusion"/>
    <xs:enumeration value="copyright-page"/>
    <xs:enumeration value="dedication"/>
    <xs:enumeration value="foreword"/>
    <xs:enumeration value="glossary"/>
    <xs:enumeration value="index"/>
    <xs:enumeration value="introduction"/>
    <xs:enumeration value="preface"/>
    <xs:enumeration value="titlepage"/>
    <xs:enumeration value="toc"/>
  </xs:restriction>
</xs:simpleType>
  
<!-- For types of subheadings: subtitle, author attributions, etc. -->
<!-- ToDo: Add additional types as required -->
<xs:simpleType name="subheadingtype">
  <xs:restriction base="xs:string">
    <xs:enumeration value="subtitle"/>
    <xs:enumeration value="author"/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Global complex type definitions; see corresponding simple types-->

<!-- Chapter/Appendix/Preface/etc. -->
<xs:complexType name="bookmaindiv">
  <xs:sequence>
    <xs:element ref="h1"/>
    <xs:element name="h2" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sect1"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" type="bookmaindivtype"/>
  <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!-- Parts -->
<xs:complexType name="bookpart">
  <xs:sequence>
    <xs:element ref="h1"/>
    <xs:element name="h2" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="section" maxOccurs="unbounded" type="bookmaindiv"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" fixed="part"/>
  <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>
  
<!-- Sect1s -->
<xs:complexType name="sect1">
  <xs:sequence>
    <xs:element ref="h1"/>
    <xs:element name="h2" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sect2"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" fixed="sect1"/>
  <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!-- Sect2s -->
<xs:complexType name="sect2">
  <xs:sequence>
    <xs:element ref="h2"/>
    <xs:element name="h3" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sect3"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" fixed="sect2"/>
  <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>
  
<!-- Sect3s -->
<xs:complexType name="sect3">
  <xs:sequence>
    <xs:element ref="h3"/>
    <xs:element name="h4" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sect4"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" fixed="sect3"/>
  <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>
  
<!-- Sect4s -->
<xs:complexType name="sect4">
  <xs:sequence>
    <xs:element ref="h4"/>
    <xs:element name="h5" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sect5"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" fixed="sect4"/>
  <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>
  
<!-- Sidebar; primarily for <aside> -->
<xs:complexType name="sidebar">
  <xs:sequence>
    <xs:element ref="h5" minOccurs="0"/> <!-- Unlike other sections, sidebar titles are optional -->
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" fixed="sidebar"/>
  <xs:attribute name="id" type="xs:ID"/>  
</xs:complexType>
  
<!-- Sect5 -->
<xs:complexType name="sect5">
    <xs:sequence>
      <xs:element ref="h5"/>
      <xs:element name="h6" minOccurs="0" maxOccurs="unbounded" type="subheading"/>
      <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="class" use="required" fixed="sect5"/>
    <xs:attribute name="id" type="xs:ID"/>  
  </xs:complexType>
  
<!-- Subheadings: support subtitles, author attributions, etc. -->
<!-- ToDo: Continue to flesh out as necessary -->
<xs:complexType name="subheading" mixed="true">
  <xs:sequence>
    <xs:group ref="inlineelements" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="class" use="required" type="subheadingtype"/>
</xs:complexType>
  
<!-- General handling for elements that can accept only inline children -->
<xs:complexType name="inline_children_only" mixed="true">
  <xs:sequence>
    <xs:group ref="inlineelements" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <!-- No HTMLBook-specific attribute rules for this set of elements; deferring to HTML5 spec on attribute rules and not 
       validating in this schema -->
  <xs:anyAttribute processContents="lax"/>
</xs:complexType>
  
<!-- General handling for elements that can accept either block children or inline children (not both)-->
<xs:complexType name="block_or_inline_children" mixed="true">
  <xs:choice>
    <xs:group ref="blockelements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:group ref="inlineelements" minOccurs="0" maxOccurs="unbounded"/>
  </xs:choice>
  <!-- No HTMLBook-specific attribute rules for this set of elements; deferring to HTML5 spec on attribute rules and not 
       validating in this schema -->
  <xs:anyAttribute processContents="lax"/>
</xs:complexType>
  
<!-- Global groups -->
  
<xs:group name="blockelements">
  <!-- We're defining "block elements" here as a subset of HTML5 flow content that can be children of a <section> -->
  <xs:choice>
    <xs:element ref="address"/>
    <xs:element ref="aside"/>
    <xs:element ref="audio"/>
    <xs:element ref="blockquote"/>
    <xs:element ref="canvas"/>
    <xs:element ref="details"/>
    <xs:element ref="div"/>
    <xs:element ref="dl"/>
    <xs:element ref="embed"/>
    <xs:element ref="fieldset"/>
    <xs:element ref="figure"/>
    <xs:element ref="form"/>
    <xs:element ref="hr"/>
    <xs:element ref="iframe"/>
    <xs:element ref="img"/> <!-- Debatable? Require all block images to be nested in div/figure/etc? -->
    <xs:element ref="map"/>
    <!-- ToDo: Add separate schema for MathML ref here? 
    <xs:element ref="mml:math"/> -->
    <xs:element ref="menu"/>
    <xs:element ref="nav"/>
    <xs:element ref="noscript"/>
    <xs:element ref="object"/>
    <xs:element ref="ol"/>
    <xs:element ref="output"/>
    <xs:element ref="p"/>
    <xs:element ref="pre"/>
    <!-- ToDo: Add separate schema for SVG ref here? 
    <xs:element ref="svg:svg"/> -->
    <xs:element ref="table"/>
    <xs:element ref="ul"/>
    <xs:element ref="video"/>
  </xs:choice>
</xs:group>
  
<xs:group name="inlineelements">
<!-- We're defining "inline elements" here as being generally equivalent to the set of HTML5 phrasing elements: 
     those that can be children of a block element -->
  <xs:choice>
    <xs:element ref="a"/>
    <xs:element ref="abbr"/>
    <xs:element ref="area"/>
    <xs:element ref="b"/>
    <xs:element ref="bdi"/>
    <xs:element ref="bdo"/>
    <xs:element ref="br"/> <!-- Yucky? -->
    <xs:element ref="button"/>
    <xs:element ref="command"/>
    <xs:element ref="cite"/>
    <xs:element ref="datalist"/>
    <xs:element ref="del"/>
    <xs:element ref="dfn"/>
    <xs:element ref="em"/>
    <xs:element ref="i"/>
    <xs:element ref="input"/>
    <xs:element ref="ins"/>
    <xs:element ref="kbd"/>
    <xs:element ref="keygen"/>  
    <xs:element ref="label"/>  
    <xs:element ref="mark"/>  
    <xs:element ref="meter"/>
    <xs:element ref="progress"/>
    <xs:element ref="q"/>
    <xs:element ref="ruby"/>
    <xs:element ref="s"/>
    <xs:element ref="samp"/>
    <xs:element ref="select"/>
    <xs:element ref="small"/>
    <xs:element ref="span"/>
    <xs:element ref="strong"/>
    <xs:element ref="sub"/>
    <xs:element ref="sup"/>
    <xs:element ref="textarea"/>
    <xs:element ref="time"/>
    <xs:element ref="u"/>
    <xs:element ref="var"/>
    <xs:element ref="wbr"/>
  </xs:choice>
</xs:group>
  
<!-- Global attribute groups -->
<!--ToDo: any further restrictions on these attributes? -->
<xs:attributeGroup name="mediaattributes">
  <xs:attribute name="src"/>
  <xs:attribute name="preload"/>
  <xs:attribute name="autoplay"/>
  <xs:attribute name="mediagroup"/>
  <xs:attribute name="loop"/>
  <xs:attribute name="muted"/>
  <xs:attribute name="controls"/>
</xs:attributeGroup>

</xs:schema>
