htmlbook.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/1999/xhtml" elementFormDefault="qualified">

<xs:element name="html">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="head"/>
      <xs:element ref="body"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
<xs:element name="head">
  <xs:complexType>
    <xs:sequence>
      <!-- Note that in order to produce a valid content model, title and base must be first -->
        <xs:element ref="title"/>
        <xs:element ref="base" minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="command"/>
          <xs:element ref="link"/>
          <xs:element ref="meta"/>
          <xs:element ref="noscript"/>
          <xs:element ref="script"/>
          <xs:element ref="style"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
<xs:element name="body">
</xs:element>
  
<xs:element name="title">
  
</xs:element>
  
<xs:element name="base">
    
</xs:element>
  
<xs:element name="command">
    
</xs:element>
  
<xs:element name="link">
    
</xs:element>
  
<xs:element name="meta">
    
</xs:element>
  
<xs:element name="noscript">
    
</xs:element>
  
<xs:element name="script">
    
</xs:element>
  
<xs:element name="style">
    
</xs:element>

</xs:schema>
